<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <input type="text" id="writeName" placeholder="please write a name">
    <input type="text" id="writeContent" placeholder="hi">
    <button onclick="test()">press me</button>
    

    <h1 id="name">name</h1>
    <h3 id="content">content</h3>

    <div id="div1">

    </div>

    <p>Display some text when the checkbox is checked:</p>

    <label for="myCheck">Checkbox:</label> 
    <input type="checkbox" id="myCheck">
    <label for="myCheck2">Checkbox 2:</label> 
    <input type="checkbox" id="myCheck2">
    <label for="myCheck3">Checkbox 3:</label> 
    <input type="checkbox" id="myCheck3">
    
    <p id="text" style="display:none">Checkbox is CHECKED!</p>
    <p id="text2" style="display:none">Checkbox 2 is CHECKED!</p>
    <p id="text3" style="display:none">Checkbox 3 is CHECKED!</p>
</body>
<script src="../static/javascript/script.js"></script>
</html>