<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="body">
    <div class="allInputs">
        <div class="textInputs">
            <div class="inputField">
                <h3>Name:</h3>
                <input type="text" id="writeName" placeholder="please write a name">
                <select id="nameType">
                    <option value="">Please select an option</option>
                    <option value="h1">H1</option>
                    <option value="h2">H2</option>
                    <option value="p">Paragraph</option>
                </select>
            </div>
            <div class="inputField">
                <h3>Content:</h3>
                <input type="text" id="writeContent" placeholder="hi">
                <select id="contentType">
                    <option value="">Please select an option</option>
                    <option value="h1">H1</option>
                    <option value="h2">H2</option>
                    <option value="p">Paragraph</option>
                </select>
            </div>
            
            <div id="container"></div>
            <button id="newText">Create Dropdown</button>
            <button id="updatebtn">press me</button>
        </div>


        <p>Change the background color! (you can also have none checked to keep it white)</p>
        <div>
            <div>
                <label for="red">Red:</label> 
                <input type="checkbox" id="red">
            </div>
            <div>
                <label for="green">Green:</label> 
                <input type="checkbox" id="green">
            </div>
            <div>
                <label for="blue">Blue:</label> 
                <input type="checkbox" id="blue">
            </div>
        </div>
        <input type="color" id="color">
    </div>

    <div id="preview_box">
        <div id="nameContainer">
            <h1 id="name">name</h1>
        </div>
        <div id="contentContainer">
            <h3 id="content">content</h3>
        </div>
        <div id="contentContainer2"></div>
    </div>
</body>
<script src="../static/javascript/script.js"></script>
</html>