<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="inputs">
        <div>
            <input type="text" id="writeName" placeholder="please write a name">
            <select id="elementType">
                <option value="">Please select an option</option>
                <option value="h1">H1</option>
                <option value="h2">H2</option>
                <option value="p">Paragraph</option>
            </select>
        </div>
        <input type="text" id="writeContent" placeholder="hi">
        <button onclick="updateElement()">press me</button>
    </div>
    <div id="nameContainer">
        <h1 id="name">name</h1>
    </div>
    <h3 id="content">content</h3>

    <div id="div1">

    </div>

    <p>Change the background color!</p>

    <label for="red">Red:</label> 
    <input type="checkbox" id="red">
    <label for="green">Green:</label> 
    <input type="checkbox" id="green">
    <label for="blue">Blue:</label> 
    <input type="checkbox" id="blue">
</body>
<script src="../static/javascript/script.js"></script>
</html>